body {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

.container {
  max-width: 1000px;
  text-align: center;
  border: 5px solid grey;
}

#splash {
  text-align: center;
}

#flashcards {
  height: 650px;
}

.strip img {
  text-align: center;
  /*padding-top: 300px;*/
}

.strip {
  height: 200%;
  margin: 2px;
}

.hidden-strip {
  display: none;
}

.shown-strip {
  z-index: 1;
}

#fire {
  margin-top: 30px;
}

.shaded-background {
  background-color: #29293d;
  color: #f0f0f5;
}

.highlighter {
  background-color: grey;
  color: white;
  border: 2px solid;
  margin: 0px;
}
